---
# Ansible Managed!

# k3s admin config file
write-kubeconfig-mode: 640

# server token
token-file: {{ ceres_k3s_ansible_token_file }}

# cidrs
cluster-cidr: {{ ceres_k3s_cluster_cidr }}
service-cidr: {{ ceres_k3s_service_cidr }}

# storage
default-local-storage-path: {{ ceres_k3s_default_storage_path }}

# node interface
node-ip: {{ ceres_k3s_node_ip_address }}
node-external-ip: {{ ceres_k3s_node_ip_address }}

{% if ceres_k3s_nginx_ingress_install %}
# disble traefik ingress controller so we dont conflict with nginx
disable:
  - traefik
{% endif %}
