---
AWX:
  # enable use of awx-deploy template
  enabled: true
  name: {{ ceres_awx_value_resourcename }}
  spec:
    admin_user: {{ ceres_awx_value_admin_user }}
    ingress_type: ingress
    hostname: {{ ceres_awx_node_fqdn }}
    postgres_resource_requirements:
      requests:
        cpu: {{ ceres_awx_value_requirements.postgres_resource_requirements.requests.cpu }}
        memory: {{ ceres_awx_value_requirements.postgres_resource_requirements.requests.memory }}
      limits:
        cpu: {{ ceres_awx_value_requirements.postgres_resource_requirements.limits.cpu }}
        memory: {{ ceres_awx_value_requirements.postgres_resource_requirements.limits.memory }}
    postgres_storage_requirements:
      requests:
        storage: {{ ceres_awx_value_requirements.postgres_storage_requirements.requests.storage }}
      limits:
        storage: {{ ceres_awx_value_requirements.postgres_storage_requirements.limits.storage }}
    web_resource_requirements:
      requests:
        cpu: {{ ceres_awx_value_requirements.web_resource_requirements.requests.cpu }}
        memory: {{ ceres_awx_value_requirements.web_resource_requirements.requests.memory }}
      limits:
        cpu: {{ ceres_awx_value_requirements.web_resource_requirements.limits.cpu }}
        memory: {{ ceres_awx_value_requirements.web_resource_requirements.limits.memory }}
    task_resource_requirements:
      requests:
        cpu: {{ ceres_awx_value_requirements.task_resource_requirements.requests.cpu }}
        memory: {{ ceres_awx_value_requirements.task_resource_requirements.requests.memory }}
      limits:
        cpu: {{ ceres_awx_value_requirements.task_resource_requirements.limits.cpu }}
        memory: {{ ceres_awx_value_requirements.task_resource_requirements.limits.memory }}
    ee_resource_requirements:
      requests:
        cpu: {{ ceres_awx_value_requirements.ee_resource_requirements.requests.cpu }}
        memory: {{ ceres_awx_value_requirements.ee_resource_requirements.requests.memory }}
      limits:
        cpu: {{ ceres_awx_value_requirements.ee_resource_requirements.limits.cpu }}
        memory: {{ ceres_awx_value_requirements.ee_resource_requirements.limits.memory }}
