apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: {{ ceres_awx_oper_helm_deploy_namespace }}
  name: {{ ceres_awx_value_resourcename }}-ingress
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
spec:
  ingressClassName: nginx
  rules:
  - host: {{ ceres_awx_node_fqdn }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ ceres_awx_value_resourcename }}-service
            port:
              number: 80
  tls:
  - hosts:
    - {{ ceres_awx_node_fqdn }}
    secretName: {{ ceres_awx_value_resourcename }}-cert   # if doesnt exist will create self-signed certs
